original/S-411_annexes/Schemas/S100SymbolDefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.iho.int/S100SymbolDefinition"
    xmlns="http://www.iho.int/S100SymbolDefinition"
    xmlns:mstns="http://www.iho.int/S100SymbolDefinition"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- THE GRAPHICS BASE PACKAGE -->
    <!-- Enumeration CRSType -->
    <xs:simpleType name="Interval01">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="0.0"/>
            <xs:maxInclusive value="1.0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CRSType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GeographicCRS"/>
            <xs:enumeration value="PortrayalCRS"/>
            <xs:enumeration value="LocalCRS"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Class Point -->
    <xs:complexType name="Point">
        <xs:sequence>
            <xs:element name="x" type="xs:double"/>
            <xs:element name="y" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Class Vector -->
    <xs:complexType name="Vector">
        <xs:sequence>
            <xs:element name="x" type="xs:double"/>
            <xs:element name="y" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Class Sector -->
    <xs:complexType name="Sector">
        <xs:sequence>
            <xs:element name="startAngle" type="xs:double"/>
            <xs:element name="endAngle" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Class Color -->
    <xs:complexType name="Color">
        <xs:sequence>
            <xs:element name="token" type="xs:string"/>
            <xs:element name="transparency" type="Interval01" default="0.0"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Class OverrideColor -->
    <xs:complexType name="OverrideColor">
        <xs:sequence>
            <xs:element name="override" type="Color"/>
            <xs:element name="color" type="Color"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Class Pen -->
    <xs:complexType name="Pen">
        <xs:sequence>
            <xs:element name="color" type="Color"/>
        </xs:sequence>
        <xs:attribute name="width" type="xs:double" use="required"/>
    </xs:complexType>
    <!-- Class Pixmap -->
    <xs:complexType name="Pixmap">
        <xs:sequence>
            <xs:element name="symbolReference" type="xs:string"/>
            <xs:element name="overrideAll" type="Color" maxOccurs="1" minOccurs="0"/>
            <xs:element name="override" type="OverrideColor" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Class Polyline -->
    <xs:complexType name="Polyline">
        <xs:sequence>
            <xs:element name="point" type="Point" minOccurs="2" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Class Arc3Points -->
    <xs:complexType name="Arc3Points">
        <xs:sequence>
            <xs:element name="startPoint" type="Point"/>
            <xs:element name="medianPoint" type="Point"/>
            <xs:element name="endPoint" type="Point"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Class ArcByRadius -->
    <xs:complexType name="ArcByRadius">
        <xs:sequence>
            <xs:element name="center" type="Point"/>
            <xs:element name="sector" type="Sector" minOccurs="0" maxOccurs="1"/>
            <xs:element name="radius" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Class Annulus -->
    <xs:complexType name="Annulus">
        <xs:sequence>
            <xs:element name="center" type="Point"/>
            <xs:element name="innerRadius" type="xs:double" minOccurs="0" maxOccurs="1"/>
            <xs:element name="outerRadius" type="xs:double"/>
            <xs:element name="sector" type="Sector" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <!-- group for segments -->
    <xs:group name="Segment">
        <xs:choice>
            <xs:element name="polyline" type="Polyline"/>
            <xs:element name="arc3Points" type="Arc3Points"/>
            <xs:element name="arcByRadius" type="ArcByRadius"/>
            <xs:element name="annulus" type="Annulus"/>
        </xs:choice>
    </xs:group>
    <!-- Class Path -->
    <xs:complexType name="Path">
        <xs:sequence>
            <xs:group ref="Segment" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <!-- THE SYMBOL PACKAGE -->
    <!-- Enumeration LinePlacementMode -->
    <xs:simpleType name="LinePlacementMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Relative"/>
            <xs:enumeration value="Absolute"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Enumeration AreaPlacementMode -->
    <xs:simpleType name="AreaPlacementMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="VisibleParts"/>
            <xs:enumeration value="Geographic"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Class LineSymbolPlacement -->
    <xs:complexType name="LineSymbolPlacement">
        <xs:sequence>
            <xs:element name="offset" type="xs:double"/>
            <xs:element name="placementMode" type="LinePlacementMode"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Class AreaSymbolPlacement -->
    <xs:complexType name="AreaSymbolPlacement">
        <xs:sequence>
            <xs:element name="placementMode" type="AreaPlacementMode" default="VisibleParts"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Class Symbol -->
    <xs:complexType name="Symbol">
        <xs:sequence>
            <xs:element name="symbolReference" type="xs:string"/>
            <xs:element name="rotation" type="xs:double" default="0.0"/>
            <xs:element name="rotationCRS" type="CRSType" default="PortrayalCRS"/>
            <xs:element name="scaleFactor" type="xs:double" default="1.0"/>
            <xs:element name="offset" type="Vector" minOccurs="0" maxOccurs="1"/>
            <xs:element name="overrideAll" type="Color" minOccurs="0" maxOccurs="1"/>
            <xs:element name="override" type="OverrideColor" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="linePlacement" type="LineSymbolPlacement" minOccurs="0" maxOccurs="1"/>
            <xs:element name="areaPlacement" type="AreaSymbolPlacement" minOccurs="0" maxOccurs="1"
            />
        </xs:sequence>
    </xs:complexType>
    <!-- THE LINE STYLES PACKAGE -->
    <!-- Enumeration JoinStyle -->
    <xs:simpleType name="JoinStyle">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Bevel"/>
            <xs:enumeration value="Miter"/>
            <xs:enumeration value="Round"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Enumeration JoinStyle -->
    <xs:simpleType name="CapStyle">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Butt"/>
            <xs:enumeration value="Square"/>
            <xs:enumeration value="Round"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Class Dash -->
    <xs:complexType name="Dash">
        <xs:sequence>
            <xs:element name="start" type="xs:double"/>
            <xs:element name="length" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Class SimpleLineStyle -->
    <xs:complexType name="SimpleLineStyle">
        <xs:sequence>
            <xs:element name="capStyle" type="CapStyle" default="Butt"/>
            <xs:element name="joinStyle" type="JoinStyle" default="Miter"/>
            <xs:element name="intervalLength" type="xs:double" minOccurs="0" maxOccurs="1"/>
            <xs:element name="offset" type="xs:double" default="0.0"/>
            <xs:element name="pen" type="Pen"/>
            <xs:element name="dash" type="Dash" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Class ComplexLineStyle -->
    <xs:complexType name="ComplexLineStyle">
        <xs:sequence>
            <xs:element name="symbolReference" type="xs:string"/>
            <xs:element name="scaleFactor" type="xs:double" default="1.0"/>
            <xs:element name="overrideAll" type="Color" minOccurs="0" maxOccurs="1"/>
            <xs:element name="override" type="OverrideColor" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Group LineStyle -->
    <xs:group name="LineStyle">
        <xs:choice>
            <xs:element name="simpleLineStyle" type="SimpleLineStyle"/>
            <xs:element name="complexLineStyle" type="ComplexLineStyle"/>
        </xs:choice>
    </xs:group>
    <!-- THE AREA FILLS PACKAGE -->
    <!-- Enumeration AreaCRSType -->
    <xs:simpleType name="AreaCRSType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Global"/>
            <xs:enumeration value="LocalGeometry"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Class ColorFill -->
    <xs:complexType name="ColorFill">
        <xs:sequence>
            <xs:element name="color" type="Color"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Class PatternFill -->
    <xs:complexType name="PatternFill" abstract="true">
        <xs:sequence>
            <xs:element name="areaCRS" type="AreaCRSType"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Class PixmapFill -->
    <xs:complexType name="PixmapFill">
        <xs:complexContent>
            <xs:extension base="PatternFill">
                <xs:sequence>
                    <xs:element name="pixmap" type="Pixmap"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- Class SymbolFill -->
    <xs:complexType name="SymbolFill">
        <xs:complexContent>
            <xs:extension base="PatternFill">
                <xs:sequence>
                    <xs:element name="symbol" type="Symbol"/>
                    <xs:element name="v1" type="Vector"/>
                    <xs:element name="v2" type="Vector"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- Class Hatch -->
    <xs:complexType name="Hatch">
        <xs:sequence>
            <xs:element name="line" type="SimpleLineStyle"/>
            <xs:element name="direction" type="Vector"/>
            <xs:element name="distance" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Class HatchFill -->
    <xs:complexType name="HatchFill">
        <xs:complexContent>
            <xs:extension base="PatternFill">
                <xs:sequence>
                    <xs:element name="hatch" type="Hatch" minOccurs="1" maxOccurs="2"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- Group AreaFill -->
    <xs:group name="AreaFill">
        <xs:choice>
            <xs:element name="colorFill" type="ColorFill"/>
            <xs:element name="pixmapFill" type="PixmapFill"/>
            <xs:element name="symbolFill" type="SymbolFill"/>
            <xs:element name="hatchFill" type="HatchFill"/>
        </xs:choice>
    </xs:group>
    <!-- THE TEXT PACKAGE -->
    <!-- Enumeration FontProportion -->
    <xs:simpleType name="FontProportion">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MonoSpaced"/>
            <xs:enumeration value="Proportional"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Enumeration FontSlant -->
    <xs:simpleType name="FontSlant">

        <xs:restriction base="xs:string">
            <xs:enumeration value="Upright"/>
            <xs:enumeration value="Italics"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Enumeration FontWeight -->
    <xs:simpleType name="FontWeight">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Light"/>
            <xs:enumeration value="Medium"/>
            <xs:enumeration value="Bold"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Enumeration TextFlag -->
    <xs:simpleType name="TextFlag">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UnderLine"/>
            <xs:enumeration value="StrikeThrough"/>
            <xs:enumeration value="UpperLine"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Enumeration HorizontalAlignment -->
    <xs:simpleType name="HorizontalAlignment">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Start"/>
            <xs:enumeration value="End"/>
            <xs:enumeration value="Center"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Enumeration VerticalAlignment -->
    <xs:simpleType name="VerticalAlignment">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Top"/>
            <xs:enumeration value="Bottom"/>
            <xs:enumeration value="Center"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Class Font -->
    <xs:complexType name="Font">
        <xs:sequence>
            <xs:element name="serifs" type="xs:boolean"/>
            <xs:element name="weight" type="FontWeight"/>
            <xs:element name="slant" type="FontSlant"/>
            <xs:element name="proportion" type="FontProportion"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Class TextFlags -->
    <xs:complexType name="TextFlags">
        <xs:sequence>
            <xs:element name="flag" type="TextFlag" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Class TextElement -->
    <xs:complexType name="TextElement">
        <xs:sequence>
            <xs:element name="text" type="xs:string"/>
            <xs:element name="bodySize" type="xs:double"/>
            <xs:element name="verticalOffset" type="xs:double" default="0.0"/>
            <xs:element name="flags" type="TextFlags" minOccurs="0" maxOccurs="1"/>
            <xs:element name="foreground" type="Color"/>
            <xs:element name="background" type="Color" minOccurs="0" maxOccurs="1"/>
            <xs:element name="font" type="Font"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Class Text -->
    <xs:complexType name="Text" abstract="true">
        <xs:sequence>
            <xs:element name="element" type="TextElement" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="horizontalAlignment" type="HorizontalAlignment" default="Start"/>
        <xs:attribute name="verticalAlignment" type="VerticalAlignment" default="Bottom"/>
    </xs:complexType>
    <xs:complexType name="TextPoint">
        <xs:complexContent>
            <xs:extension base="Text">
                <xs:sequence>
                    <xs:element name="offset" type="Vector" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="rotation" type="xs:double" default="0"/>
                    <xs:element name="areaPlacement" type="AreaSymbolPlacement" minOccurs="0"
                        maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TextLine">
        <xs:complexContent>
            <xs:extension base="Text">
                <xs:sequence>
                    <xs:element name="startOffset" type="xs:double"/>
                    <xs:element name="endOffset" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="placementMode" type="LinePlacementMode"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:group name="Text">
        <xs:choice>
            <xs:element name="textPoint" type="TextPoint"/>
            <xs:element name="textLine" type="TextLine"/>
        </xs:choice>
    </xs:group>
</xs:schema>
